<li class='link'>
	<a class='title' href="http://<%= link.url %>"><%= link.title %></a>
	<div class='description'>
		<%= link.description %>
	</div>
	<span class='source'>
		added <%= link.created_on.to_s %> by <%= link.created_by %>
	</span>
</li>